/* Navigation Bar Styling */
.navbar-bg-color {
    background-color: #000324;
}

.nav-link > p {
    color: #FFFFFF;
    font-family:dosis;
    font-size: 1.25em;
    margin-right: 1em;
    margin-block: 0;
}

.reserve-button {
    border: 2px solid #E5FEFF;
    padding-left: .75em;
    padding-right: .75em;

}

/* Header Styling */
.header-background {
    height: 31.25em;
    background-image: url(../assets/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 56%;
}

.down-padding {
    padding-top: 134px;
}

.banner-contain {
    color: #E5FEFF;
    background-color: #000324;
    opacity: 0.8;
    padding-top: 65px;
    padding-bottom: 65px;
}

.banner-title {
    font-family: "Dosis", sans-serif;
    font-weight: lighter;
    font-size:  2.8125em;
}

.banner-container > p {
    font-family: "Source Sans 3", sans-serif;
    font-weight: lighter;
}

/* Overview Styling */
.overview-blurb {
    color: #1A1B26;
}

.section-title {
    font-family: "Dosis", sans-serif;
    font-weight: lighter;
    font-size:  2.1875em;
}

.section-body {
    font-family: "Source Sans 3", sans-serif;
    font-weight: lighter;
}

.overview-image-resize {
    width: 100%;
    height: 416px;
    object-fit: cover;
}

/* Rooms Styling */
.room-content {
    height: 46.125em;
    background-image: url(../assets/bg2.jpg);
    background-size: cover;
    background-position: 100% 60%;
}

.card-title-style {
    color: #1A1B26;
    font-family: "Dosis", sans-serif;
    font-weight: lighter;
    font-size:  1.5625em;
}

.card-text-style {
    color: #1A1B26;
    font-family: "Source Sans 3", sans-serif;
    font-weight: lighter;
    font-size:  1em;
}

.card-bold-text {
    color: #1A1B26;
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    font-size:  1em;
}

.card-img-style {
    height: 11.875em;
    object-fit: cover;
}

.btn-radius-zero {
    border-radius: 0%;
}

/* Packages Styling */
.package-thumbnail {
    width: 90%;
    height: 14.625em;
    object-fit: cover;
    object-position: 100% 40%;
}

.price-text-blue {
    color: #1F51A8;
    font-family: "Source Sans 3", sans-serif;
    font-weight: lighter;
    font-size:  1em;
}

/* Amenities Styling */
.amenities-bg-image{
    height: 34.25em;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 66%;
}

.amenities-image-resize {
    width: 150px;
}

.icon-text {
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    font-size:  1.25em;
}

/* Reserve Form Styling */
.form-bg-color {
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #000324;
}

.reserve-image-resize {
    width: 100%;
    height: 25.875em;
    object-fit: cover;
    object-position: 100% 76%;
}

/* Footer Styling */
footer {
    height: 18.75em;
    background-color: #000324;
    color: #E5FEFF;
}   
